{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
<style>
body{
    margin-top:20px;
    background:#eee;
}
.avatar.avatar-xl {
    width: 5rem;
    height: 5rem;
}
.avatar {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    display: inline-block;
    background: #ced4da no-repeat center/cover;
    position: relative;
    text-align: center;
    color: #868e96;
    font-weight: 600;
    vertical-align: bottom;
}
.card {
    background-color: #fff;
    border: 0 solid #eee;
    border-radius: 0;
}
.card {
    margin-bottom: 30px;
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.1), -1px 0 2px rgba(0,0,0,0.05);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1), -1px 0 2px rgba(0,0,0,0.05);
}
.card-body {
    padding: 1.25rem;
}
.tile-link {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 30;
}
.profile-head {
    transform: translateY(5rem)
}

.cover {
    background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
    background-size: cover;
    background-repeat: no-repeat
}

body {
    background: #654ea3;
    background: linear-gradient(to right, #e96443, #904e95);
    min-height: 100vh;
    overflow-x:hidden;
}
.breaking{
    width:500px;
    word-wrap: break-word;
}
body {
    background: rgb(99, 39, 120)
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
</style>
{% block content %}

<br>
    <div class="header-dark">
<div class="text-center">
    <!--<h1>My Google OAuth Project </h1>-->

    <div class="profile mr-3">
        <a href="{% url 'user_profile' user.profile.pk %}" class="btn bg-dark btn-sm ">Return to Profile</a>

    </div>
        <br></br>
    <!--https://www.bootdey.com/snippets/view/Profile-bio#html-->
    <div class="row py-5 px-150">
    <div class="col-md-5 mx-auto">
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
                <div class="profile-bio">
                    <div class="row">

                        <div class="px-4 pt-0 pb-4 cover">


<br></br>
                            <form action="{% url 'edit_profile_page' user.profile.id %}" method="post">
                                {% csrf_token %}
                                <div>
                                    <label class="form-label" for="Age"><b>Grade</b></label>
                                    <br>
                                    {{ form.Age }}
                                </div>
                                <br>
                                <span>
                                    <div>
                                        <label class="form-label" for="Enrolled_Courses"><b>Courses</b></label>
                                        <br>
                                        {{ form.Enrolled_Courses }}
                                        <br>

                                    </div>

                                </span>
                                <br>
                                <span>
                                    <div>
                                        <label class="form-label" for="Major"><b>Major</b></label>
                                        <br>
                                        {{ form.Major }}
                                    </div>
                                </span>
                                <br>
                                <span>
                                    <div>
                                        <label class="form-label" for="Bio"><b>Bio</b></label>
                                        <br>{{ form.Bio }}
                                    </div>
                                </span>
                                <br>
                                <span>
                                    <div>
                                        <label class="form-label" for="Following"><b>Following</b></label>
                                        <br>
                                        {{ form.Following }}
                                        <br>
                                    </div>

                                </span>
                                <br>
                                <button type="submit" class="btn btn-primary" href="{% url 'user_profile' user.profile.id %}">Save changes</button>
                                <br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if user.is_authenticated %}
    {% else %}
    <button>
        <a href="{% provider_login_url 'google' %}">Login</a>
    </button>
    {% endif %}


    </body>
    </html>
</div>

<body style="color: black;">
    <link rel="stylesheet" href="{% static 'index/style.css' %}">
    <hr>
</body>

{% endblock content %}