{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
<style>
    body {
        margin-top: 20px;
        background: #FAFAFA;
    }
    /*==================================================
    Nearby People CSS
    ==================================================*/

    .people-nearby .google-maps {
        background: #f8f8f8;
        border-radius: 4px;
        border: 1px solid #f1f2f2;
        padding: 20px;
        margin-bottom: 20px;
    }

        .people-nearby .google-maps .map {
            height: 300px;
            width: 100%;
            border: none;
        }

    .people-nearby .nearby-user {
        padding: 20px 0;
        border-top: 1px solid #f1f2f2;
        border-bottom: 1px solid #f1f2f2;
        margin-bottom: 20px;
    }

    img.profile-photo-lg {
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }
</style>
{% block content %}

<h1 style="text-align:center">Study Session Posts</h1>

<br />
<br />
    {% if formset %}
        {% for forms in formset %}
        {% for studysessionmodel in forms %}
<div class="card" style="color:black; margin-left : 150px; vertical-align: middle; align-content: center; width: 800px; height: 500px ">
    <div class="card-body" style="margin-top:40px;margin-left : 150px; color:black">
        <h4>{{studysessionmodel.title}}</h4>
       
        <p class="card-text">
            <small>
                By: {{studysessionmodel.author}}
            </small>
            <br />

            <hr>
            {{studysessionmodel.text | safe}}
            
        </p>
        <div class="" style="margin-top:180px">
            When: {{studysessionmodel.start_time}}

            <br />
            How long: {{studysessionmodel.duration}}
            <br />
            Where: {{studysessionmodel.address}}
            <br />
        </div>
        <div class="container">
            <div class="row" style="margin-top: 20px; margin-left: 320px; ">
                <form action="{% url 'enroll' studysessionmodel.pk%}" method="POST" style="margin-left: 20px; ">
                    {% csrf_token%}
                    <button type="submit" , name="studysession_id" ,value="{{studysessionmodel.id}}" ,class="btn btn-primary btn-sm"> Enroll </button>
                </form>
                {% if user.id == studysessionmodel.author.id%}
                <form action="{% url 'edit_session' studysessionmodel.pk%}" method="POST" style="margin-left: 20px; ">
                    {% csrf_token%}
                    <button type="submit" , name="edit_studysession_id" ,value="{{studysessionmodel.id}}" ,class="btn btn-primary btn-sm"> Edit </button>
                </form>
                <form action="{% url 'delete_session' studysessionmodel.pk%}" method="POST" style="margin-left: 20px; ">
                    {% csrf_token%}
                    <button type="submit" , name="delete_studysession_id" ,value="{{studysessionmodel.id}}" ,class="btn btn-primary btn-sm"> Delete </button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<br />
        {% endfor %}
        {% endfor %}

<!--<ul>
    {% for forms in formset %}
    {% for form in forms %}
    <li>
        <a href="{% url 'post_detail' form.pk %}">{{ form.title }}</a> - {{form.class_name}}<br />
        {{form.start_time}} - {{form.duration}}
    </li>
    {% endfor %}
    {% endfor %}
</ul>-->
    {% else %}
<p>No posts are available.</p>
    {% endif %}
<body style="color: white;">
    <link rel="stylesheet" href="{% static 'index/style.css' %}">
    <hr>
</body>
    {% endblock %}
